<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include("partials/header.ejs"); %>
	<h2>About Us:</h2>
	<p>Test variable: <%= foo %></p>
  </body>
</html>
